* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lightgray;
}

h1 {
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  background-color: aquamarine;
  border: 1px solid gray;
  border-radius: 5px;
  grid-gap: 100px;
  height: auto;
  margin: 0 auto;
  width: 50%;
}
.container .forms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 10px 10px 10px;
}
.container .forms .inputs {
  display: flex;
  grid-column: 1/-1;
}
.container .forms .inputs input {
  color: green;
  height: 70px;
  font-size: 30px;
  text-align: right;
  width: 50%;
}
.container .forms .numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid gray;
  grid-column: 1/4;
  padding: 10px 0 0 0;
}
.container .forms .numbers input {
  background-color: gray;
  border-radius: 5px;
  color: white;
  height: 80px;
  font-size: 20px;
  width: 140px;
}
.container .forms .operators {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  grid-column: 4;
  padding: 2px;
}
.container .forms .operators input {
  background-color: gray;
  color: white;
  height: 100px;
  font-size: 30px;
  width: auto;
}