.information {
    background-color: $secondColor;
    padding: 150px 10px;
    h1 {
        text-transform: uppercase;
        padding: 10px 0;
        color: white;
    }
    p {
        font-size: 20px;
        text-align: justify;
        color: whitesmoke;
    }
}